:root {
  --main-blue: rgb(58, 121, 238);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-blue);
  color: white;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.app-title {
  width: 500px;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.app-intro {
  text-align: center;
  list-style-position: inside;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.search,
.drop {
  text-align: center;
  margin: 30px 0px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.drop-item {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border: 1px dashed red;
}

.search-input {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(58, 121, 238, 0.5);
  width: 40%;
  transition: all 0.5s var(--ease-in-out-quad);
}

.search-input:focus {
  border-bottom: 2px solid rgba(58, 121, 238, 1);
  width: 70%;
}

.drop-zone {
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-images {
  margin-top: 20px;
  padding: 5px;
  height: 400px;
  overflow: auto;
}

.download-zip {
  display: block;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: orangered;
  color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.empty-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.footer {
  text-align: center;
}
